<ng-template [ngIf]="memosList">
  <div class="memo-list-wrapper">
    <div class="memo-list-wrapper--item" *ngFor="let memoItem of memosList" >
      <app-shedule-day [memoValue]="memoItem"></app-shedule-day>
    </div>
  </div>
</ng-template>

