<div class="bubble-wrapper" *ngIf="memoValue">
  <div class="bubble-wrapper--header">
    {{memoValue.name}}
    {{memoValue.rating}}
  </div>

  <div class="bubble-wrapper--content">
    <img src="{{memoValue.picture}}" alt="Картинка">

    <div class="bubble-wrapper--content-info">
      {{memoValue.author}}
      {{memoValue.description}}
    </div>
  </div>

  <div class="bubble-wrapper--footer">
    {{memoValue.tags}}
    {{memoValue.createdAt | datePipe}}
  </div>
</div>
