.bubble-wrapper {
  display: block;
  padding: 24px;
  border: 1px solid gray;
  border-radius: 12px;
  background: lightyellow;
  font-size: 16px;
  color: #0A1016;
  max-width: 100%;
  height: 100%;
  margin-bottom: 24px;
}
